@import "../util/variables";
@import "../util/fonts";
@import "../components/inputs";

.login-page {
    background: linear-gradient(to bottom, rgba(19, 6, 6, 0.95), rgb(3, 0, 0)),
        url("https://login.tidal.com/_nuxt/img/album-backgrounds.39c62cf.jpg");
    min-height: 100vh;
    max-width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    .form {
        width: 100vw;
        @include form-style;

        .remember-me {
            width: 26%;
            margin: 0 auto;

            label {
                font-family: $text-font;
                font-weight: bolder;
                font-size: 11pt;
                color: white;
                user-select: none;
            }
        }

        &__header {
            display: flex;
            align-items: center;
            flex-direction: column;

            img {
                height: 180px;
            }

            h3 {
                @include large-heading-font(1.5rem);
                margin: 2em;
            }
        }
    }
}
