@import "../util/variables";
@import "../util/fonts";

footer {
    background-color: $primary-color;

    .nav-container {
        width: fit-content;
        margin: 0 auto;
        display: flex;

        &__item {
            margin: 2em;

            a:first-child {
                margin-bottom: 1em;
                color: rgba(255, 255, 255, 0.68);
                font-weight: 600;
                display: block;
                cursor: context-menu;
                user-select: none;
            }

            a {
                margin: .5em;
                color: $white;
                @include menu-font;
                display: block;
                cursor: pointer;
            }
        }
    }

    .copyright {
        padding: 1em;
        width: fit-content;
        margin: 0 auto;
        display: flex;
        align-items: center;

        p {
            display: flex;
            align-items: center;
            width: 80%;
            font-family: $menu-font;
            font-size: .8rem;
            color: rgba(255, 255, 255, 0.64);
        }

        &__socials {
            ul {
                display: flex;
                list-style: none;

                li {
                    margin: 1em;
                    color: white;

                    i:hover {
                        transition: .5s;
                        color: $accent-color;
                        opacity: .8;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
