@import "../util/variables";
@import "../util/fonts";
@import "../components/buttons";

nav {
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;

    .nav-container {
        display: flex;
        align-items: center;
        padding: 1.4em;

        &__logo {
            height: 120px;
            object-fit: cover;
        }

        &__menu {
            margin-left: 3em;

            ul {
                display: flex;
                list-style: none;

                li {
                    margin: 1em;

                    a {
                        text-decoration: none;
                        @include menu-font;

                        &:hover {
                            transition: .5s;
                        }
                    }

                    .current {
                        @include menu-font-current;
                    }
                }
            }
        }
    }

    .nav-user {
        display: flex;
        align-items: center;

        &__login {
            @include menu-font;
            font-size: 20px;
            text-decoration: none;
        }

        &__register-btn {
            margin: 2em;
            @include accent-outline-btn;
        }

        form {
            @include danger-btn;
        }

        .logout {
            margin-right: 1em;
            button {
                padding: .8em 1.8em;
                font-size: 14pt;
                margin: 1em 0;
            }
        }
    }
}
