@import "../util/variables";
@import "../util/fonts";
@import "../components/inputs";

@mixin user-profile() {

    background-color: $gray;
    width: 15rem;
    height: fit-content;
    padding: 2em;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 4em;
    text-align: center;
    border-radius: 10px;
    position: sticky;
    top: 2em;
    left: 1em;

    h3 {
        margin: 1em;
        @include title-font;
    }

    h4 {
        margin: 1em;
        @include title-font;
        font-weight: normal;
    }

    form {
        @include danger-btn;
    }

}
