@import "../util/variables";
@import "../util/fonts";
@import "../components/inputs";

@mixin user-profile() {

    background-color: $gray;
    width: 20rem;
    height: fit-content;
    padding: .8em;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 4em;
    // text-align: center;
    border-radius: 10px;
    position: sticky;
    top: 2em;
    left: 1em;

    h3 {
        margin: 0 .1em;
        @include title-font;
        padding: .6em;
        background: rgba(24, 24, 24, 0.247);
        border-radius: 10px;
    }

    h4 {
        margin: 0 .1em;
        padding: .6em;
        background: rgba(24, 24, 24, 0.247);
        border-radius: 10px;
        @include title-font;
        font-weight: normal;
    }

    h6 {
        text-indent: .8em;
        margin-top: 1em;
        margin-bottom: .3em;
        margin-left: .1em;
        @include title-font;
        font-weight: normal;
        font-size: 12pt;

        &:first-child {
            margin-top: 0;
        }
    }

    form {
        @include danger-btn;
    }

}
